  
<select>
{{#each height}}
<option> {{height}} </option>
{{/each}}
</select>

<select>
{{#each cities}}
<option> {{name}} </option>
{{/each}}
</select>

<select>
{{#each price}}
<option> {{price}} </option>
{{/each}}
</select>